* {
  font-family: Lato;
}

.carousel-indicators {
  top: 355px;

  @media screen and (min-width: 420px) {
    top: 370px;
  }
}

.carousel-inner {
  height: 70vh;
}

.carousel-caption {
  top: 365px;

  @media screen and (min-width: 420px) {
    top: 460px;
    left: 10%;
    width: 80%;

  }
}

.skip {
  color: #D9D9D9;
  display: flex;
  align-items: end;
}

.title-onboarding {
  color: rgba(255, 255, 255, 0.87);
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
}

.text-onboarding {
  padding-top: 0;
  font-size: 14px;

  @media screen and (min-width: 420px) {
    color: rgba(255, 255, 255, 0.87);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.5%;
    padding-top: 10%;
  }
}

.skip {
  color: rgba(255, 255, 255, 0.44);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.5%;
  text-transform: uppercase;
}